.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  cursor: pointer;
}

.icon {
  color: grey;
  font-size: 40px;
  transition: color 0.3s;
}

span {
  margin-left: 10px;
  font-size: 18px;
  color: black;
  transition: color 0.3s;
}

.item:hover {
  background-color: rgba(25, 218, 22, 0.1);
}

.item:hover .icon {
  color: green;
}

.icon:hover span {
  color: green;
}
